@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

:root {
    --font_family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font_family);
}

a {
    padding: 15px;
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #5606be;
    text-decoration: underline;
}

.tab {
    text-indent:40px 
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero_img {
    margin: 50px 150px 0px 0px;
    height: 500px;
    width: 700px;
}

.bio {
    padding: 50px;
    margin-left: 300px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 20px palevioletred;
    border: #5606be solid 5px;
    width: 600px;
}

.bio-title, .bio-text{
    text-align: center;
}

.about, .projects, .contact {
    padding: 50px 100px;
}

.contact a {
    margin: 20px 120px;
}

span {
    display: none;
}

h2 {
    margin-bottom: 20px;
}

.projects {
    padding: 32px 0;
    margin-top: 2rem;
}

.project-pic {
    width: 65%;
    height: 60%;
}

.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.projects-title {
    text-align: center;
    margin-bottom: 1rem;
}

.project-container {
    text-align: center;
    width: 400px;
    height: 300px;
    margin: 50px;
    padding: 50px;
    box-shadow: 0px 10px 20px palevioletred;
    border: #5606be solid 5px;
}

.project-container p {
    padding: 0.4rem;
}

header {
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px 20px palevioletred;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 100px;
}